.btn{
    display: flex;
    justify-content: end;
    padding:15px;
}
.ofcn{
    padding:15px;
    background: none;
}
.navlg{
    background: none;
}
.btbg{
    background: none;
}
.bn{
    background: transparent;
    border: 0;
    box-shadow: none;
}
.project{  
    background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% );  }
.butn{
    background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
    border: #20002c;
    padding: 10px;
}
.mincard{
    background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(16, 34, 83, 0.689) 24.5%, rgba(15, 24, 62, 0.808) 66% );
}
.bar{
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    color: rgba(245, 245, 245, 0.674);}
.ldicn{
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    color: rgba(245, 245, 245, 0.674);
}
.algn{
    text-align: justify;
    
}
.iconlist{
    color: whitesmoke !important;
}
.list{
    list-style: none;
}
.ftcard{
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
  
}
